<script type="text/javascript">
	var word = "";
	var args = window.location.search.substr(1).split('&');
	console.log(args);
	for (var i = 0; i < args.length; i++) {
		var tmp = args[i].split('=');
		if (tmp[0] == "filter") {
			word = tmp[1];
		}
	} 
	console.log(word);
	{% for _word in site.data.words %}
		if (word == "{{ _word.name }}" || word=="") {
			{% for word_lang in _word offset:1 %}
			    {% if word_lang[0] == page.lang %}
					{% assign _lang = site.data.langs | where: "lang", page.lang | first %}
					var word_desc = `<div class="mb-2 rounded" style="padding: 0px 10px 10px 10px; background-color: 44444F;">
									 <h2 class="post_title">{{ word_lang[1][0] }}</h2>
									 <p>{{ word_lang[1][1] }}</p>
									 <p><a href="{{ word_lang[1][2] }}">source</a></p>
									 </div>`;									 
					document.getElementsByClassName('card')[0].innerHTML += word_desc;
			    {% endif %}
			{% endfor %}
		}
	{% endfor %}
</script>
