{% assign curr_lang = site.data.langs | where: "lang", page.lang %}
{% for lang_item in curr_lang[0] %}
	{% for nav_item in site.data.navigation %}
		{% if lang_item[0] == nav_item.name %}
			{% capture localized_link %}{{ curr_lang[0].link | append: nav_item.link | relative_url }}{% endcapture %}
			<a href="{{ localized_link }}" class="nav-item nav-link" {% if localized_link == page.url %}id="current"{% endif %}>{{ lang_item[1] }}</a>
		{% endif %}
	{% endfor %}
{% endfor %} 

<div id="language-menu" class="dropdown">
  {% for lang in site.data.langs %}
    {% if lang.lang == page.lang %}
      <a href="{{ lang.link }}" class="nav-item nav-link"> {{ lang.symbol }} </a>
    {% endif %}
  {% endfor %}
  <div class="dropdown-content">
  {% for lang in site.data.langs %}
    {% if lang.lang != page.lang %}
        <a href="{{ lang.link }}" class="nav-item nav-link"> {{ lang.symbol }} </a>
    {% endif %}
  {% endfor %}
  </div>
</div>
