{% for lang in site.data.langs %}
	{% if lang.lang == page.lang %}
		{% for item in site.data.navigation %}
			<a href="{{ lang.link | append: item.link | relative_url }}" class="nav-item nav-link" {% if item.link == page.url %}id="current"{% endif %}> {{ item.name }} </a>
		{% endfor %}
	{% endif %}
{% endfor %}

<div class="dropdown">
  {% for lang in site.data.langs %}
    {% if lang.lang == page.lang %}
      <a href="{{ lang.link }}" class="nav-item nav-link"> {{ lang.symbol }} </a>
    {% endif %}
  {% endfor %}
  <div class="dropdown-content">
  {% for lang in site.data.langs %}
    {% if lang.lang != page.lang %}
        <a href="{{ lang.link }}" class="nav-item nav-link"> {{ lang.symbol }} </a>
    {% endif %}
  {% endfor %}
  </div>
</div>
