<div class="sidebar ">
    <h2>Recent Projects</h2>
    <ul>
    {% assign projects = site.projects | where: "lang", page.lang %}
    {% for project in projects limit:5 %}
        <li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="sidebar">
    <h2>Tags</h2>
    <ul class="sideBarTags">
    {% for tag in site.tags %}    
        {% if tag.lang == page.lang %}
          <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
