<div class="sidebar ">
    <h2>Recent Projects</h2>
    <ul>
    {% assign projects = site.projects | where: "lang", page.lang %}
    {% for project in projects limit:5 %}
        <li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="sidebar">
    <h2>Tags</h2>
    <ul class="sideBarTags">
    {% for tag in site.data.tags %}    
    	{% for tag_lang in tag offset:1 %}
		    {% if tag_lang[0] == page.lang %}
			{% assign slang = site.data.langs | where: "lang", page.lang | first %}
    	      <li><a href="{{ site.url | append: slang.link | append: '/tags.html?tag=' | append: tag.name }}">{{ tag_lang[1] }}</a></li>
        	{% endif %}
		{% endfor %}
    {% endfor %}
    </ul>
</div>

