#current {
	color: white;
}

body {
	height: 100%;
}

@media (max-width: 1000px) {
	#language-menu>a {
		display: inline-block;
		margin-right: 1em;
	}

	#language-menu .dropdown-content {
		display: inline-block !important;
	}
}

.glossary-entry, .glossary-entry:visited, .glossary-entry:active, .glossary-entry:focus {
	color: $font-color;	
	text-decoration-line: underline;
	text-decoration-style: dotted;	
	cursor: help;
}

.glossary-entry:hover {
	text-decoration-style: solid;
}
