{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <div class="article">
                <div class="card">
                  <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                  {% if page.thumbnail %}
                    {% include post-thumbnail.html image=page.thumbnail alt=page.thumbnail-alt size="400px" margin="auto" %}
                  {% endif %}
                  <div class="post-meta mx-auto">
                    <i>{% include {{ page.description }} %}</i>
                  </div>
                  <div class="post-meta">
                    <ul>
                    {% for tag in site.data.tags %}
                      {% if page.tags contains tag.name %}
						{% for tag_lang in tag offset:1 %}
			       		  {% if tag_lang[0] == page.lang %}
							{% assign slang = site.data.langs | where: "lang", page.lang | first %}
			        	    <li><a href="{{ site.url | append: slang.link | append: '/tags?tag=' | append: tag.name }}">{{ tag_lang[1] }}</a></li>
						  {% endif %}
						{% endfor %}
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                  <div class="post-content">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
